<div class="container-fluid" style="margin-bottom:4%; align-content:center; text-align: center; justify-content: center;">
  <span style="position: absolute; top: 50%; width: 100%; font-size: 3.7vw; color: white;"><b>STRESS-FREE STUDY ABROAD STORAGE AND SHIPPING!</b></span>
  <img src="/assets/main_image.jpg" style="width:100%;" alt="NO IMAGE FOUND">
  <div style="text-align: center;">
    <button class="btn btn-primary" style="position: absolute; text-align: center; top: 60%; left: 42%; border-radius: 20px; width: 16%; font-size: 2.2vw; " type="button">SIGN UP</button>
  </div>
</div>
<div class="card" style="width: 100%; margin-bottom:5%; border-color:white">
  <div class="card-block">
    <h3 class="card-title text-center"><b>SHIPPING AND STORAGE FOR WASHU STUDENTS</b></h3>
    <p class="card-text text-center" style="font-size:20px;">University Trucking is here to make your move-out experience as easy as possible!</p>
    <p class="card-text text-center" style="font-size:20px;">We've worked closely with WashU families for years! Contact us with any special requests!</p>
  </div>
</div>
<div class="card row" style="width:90%; margin:auto; margin-bottom:4%; justify-content:center;">
  <div class="card-header">
    <b>STUDY ABROAD STORAGE & SHIPPING</b>
  </div>
  <div class="card-block">
    <p class="card-text">Let us help! We are a <b>student-owned and -operated</b> company that provides shipping, storage, and appliance rental services to over <b>1,800 WashU students every year.</b></p>
    <img class="card-img-top" src="/assets/box.png" alt="Card image cap" style="width:100px; height:100px; float:right;">
    <ul>
      <li><span>We offer home pickups from the East Coast, Texas, and Chicago, and deliver right to your dorm room or off-campus apartment on a date and time you select!</span></li>
      <li><span>For students who live elsewhere, ship your belongings and back-to-school purchases to us, and we'll deliver them straight to your dorm room, hassle-free!</span></li>
    </ul>
    <a routerLink='/fall-services' class="btn btn-primary">READ MORE</a>
  </div>
</div>
<div class="card row" style="width:90%; margin:auto; margin-bottom:4%; justify-content:center;">
  <div class="card-header">
    <b>APPLIANCE RENTALS</b>
  </div>
  <div class="card-block">
    <p class="card-text">We rent out fridges, microwaves, and desk chairs and deliver them right to your dorm room. Learn how renting saves time and money!</p>
    <img class="card-img-top" src="/assets/technology.png" alt="Card image cap" style="width:100px; height:100px; float:right;">
    <a routerLink='/fall-services' class="btn btn-primary">READ MORE</a>
  </div>
</div>
<div class="card row" style="margin:auto; justify-content:center; width: 90%; margin-bottom:4%;">
  <div class="card-header">
    <b>WORK FOR UTRUCKING</b>
  </div>
  <div class="card-block">
    <p class="card-text">We are proud to say that we only hire WashU students. We pay <b>$12/hour</b>, move you in early for free, and you get to work with friends!</p>
    <img class="card-img-top" src="/assets/money.png" alt="Card image cap" style="width:120px; height:100px; float:right;">
    <a href="#" class="btn btn-primary">READ MORE</a>
  </div>
</div>
<div class="card row" style="margin:auto; justify-content:center; width: 90%; margin-bottom:4%;">
  <div class="card-header">
    <b>MEET THE TEAM</b>
  </div>
  <div class="card-block">
    <p class="card-text"><b>University Trucking, Inc.</b> was established in 1977 and offers WashU students with exceptional storage, shipping, and rental services. UTrucking is proudly owned and operated by WashU students!</p>
    <img class="card-img-top" src="/assets/utrucking_logo.png" alt="Card image cap" style="width:100px; height:100px; float:right;">
    <a routerLink='/about' class="btn btn-primary">READ MORE</a>
  </div>
</div>
