<span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>FALL SERVICES</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3vw; margin-bottom: 1%; color: grey;"><b>OUR SERVICES</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 2.5vw; margin-bottom: 1%;"><b>Choose a moving service to learn more!</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 2.5vw; margin-bottom: 1%;"><b>{{ season }}</b></span>
<div class="row">
<div class="btn-group-vertical" role="group" aria-label="Choose Service" style="margin:auto; justify-content:center; margin-bottom: 2%;">
  <button type="button" class="btn btn-primary" (click)="showMovingServices()" id="eastCoastButton">EAST COAST, TEXAS & CHICAGO MOVING SERVICES</button>
  <button type="button" class="btn btn-primary" (click)="showNationwideServices()" id="nationwideButton">NATIONWIDE SHIP-TO-SCHOOL</button>
  <button type="button" class="btn btn-primary" (click)="showApplianceRentals()" id="applianceButton">APPLIANCE RENTALS</button>
</div>
</div>
<div *ngIf="this.id === 1" style="display: inline-block; width:100%;">
<div class="row" style="margin:auto;width:90%;justify-content:center;margin-bottom:2%;">
  <span style="display: inline-block; text-align: center; width: 100%; font-size: 3.5vw; margin-bottom: 1%; color: grey;"><b>EAST COAST, TEXAS & CHICAGO MOVING SERVICES</b></span>
<ngb-accordion [closeOthers]="true" activeIds="locationView">
  <ngb-panel id="locationView" title="1. CHOOSE A PICKUP LOCATION">
    <ng-template ngbPanelContent>
      We offer group pickup locations in each major area, or, for an extra $50, you can enjoy the convenience of having all of your items picked up right from your home. Select a state to learn about home pick-ups.
      <h4 style="margin-bottom:2%; margin-top:2%">Pickup Locations/Dates</h4>
          <div ngbDropdown class="d-inline-block" style="margin-bottom:2%;">
            <button class="btn btn-outline-primary" id="filterDropdown" ngbDropdownToggle>Filter By State</button>
            <div class="dropdown-menu">
              <button class="dropdown-item" (click)="getLocations()">Show All</button>
              <div *ngFor="let state of states">
                <button class="dropdown-item" (click)="filterByState(state.name)">{{ state.name }}</button>
              </div>
            </div>
  </div>
<div *ngIf="stateDescription">
  <div class="card" style="margin-bottom:2%;">
    <div class="card-block">
      <span >{{ stateDescription }}</span>
    </div>
  </div>
</div>
      <agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="4" style="width:80%;">
        <div *ngFor="let location of locations">
          <agm-marker [title] = "location.title" [latitude]="location.latitude" [longitude]="location.longitude">
            <agm-info-window>
              <h4>{{ location.title }}</h4>
              <div>Address: <span style="margin:bottom: 2%;"> {{ location.address }} </span></div>
              <div>Delivery Date: <span> {{ location.date }} </span></div>
              <a href="{{ location.pathURL }}" target="_blank"><span>View On Google Maps</span></a>
            </agm-info-window>
          </agm-marker>
      </div>
      </agm-map>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="deliveryView" title="2. CHOOSE A DELIVERY LOCATION">
    <ng-template ngbPanelContent>
      <h4 style="margin-bottom:2%;">Select a Delivery Time</h4>
      Next you will select the delivery location. We offer both on and off campus delivery.
      <br><br>
      If you are a freshman and have not yet received your housing assignment, please select "Freshman - Unknown" as your building, and put xxx in the room number field.
      <br><br>
      You will be able to fill-in this information on our website once you know it.
    </ng-template>
  </ngb-panel>
  <ngb-panel id="moreInfoView" title="3. MORE INFORMATION">
    <ng-template ngbPanelContent>

    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
</div>
<div *ngIf="this.id === 3" style="margin:auto;justify-content:center;width:70%;">
  <span style="display: inline-block; text-align: center; width: 100%; font-size: 3.5vw; margin-bottom: 1%; color: grey;"><b>APPLIANCE RENTALS</b></span>
  <ngb-tabset type="pills" justify="center">
    <ngb-tab title="Dorm Refrigerators">
      <ng-template ngbTabContent>
  <ngb-carousel justify="center" style="margin:auto;margin-top:2%;width:300px;height:300px;">
  <ng-template ngbSlide>
    <img src="/assets/fridge_small.jpg" alt="Random first slide" style="width:300px;height:300px;">
    <div class="carousel-caption" style="color:black;">
      <h3>Small Refrigerator</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/fridge_medium.jpg" alt="Random second slide" style="width:300px;height:300px;">
    <div class="carousel-caption" style="color:black;">
      <h3>Medium Refrigerator</h3>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="/assets/fridge_large.jpg" alt="Random third slide" style="width:300px;height:300px;">
    <div class="carousel-caption" style="color:black;">
      <h3>Large Refrigerator</h3>
    </div>
  </ng-template>
</ngb-carousel>
<div style="margin:auto;width:100%;text-align:center;">
  <span><b>Scroll to view an image of each size we offer</b></span>
</div>
<br>
<div style="text-align:center;">
  <p>We have 3 different size refrigerators, small, medium, and large. Conveniently store fresh snacks, drinks, and leftovers in your dorm room or apartment! </p>
</div>
      </ng-template>
    </ngb-tab>
      <ngb-tab title="Microwaves">
      <ng-template ngbTabContent>
          <img src="/assets/microwave.jpg" alt="Microwave" style="display:block;margin:auto;width:300px;height:300px;">
          <div style="text-align:center;">
        <p>From Ramen noodles and Easy Mac to hot cocoa and popcorn, our microwaves are dorm tested and approved. We'll handle the pickup and delivery, and you don't have to worry about storage at the end of the year. It's a win-win!</p>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Desk Chairs" >
      <ng-template ngbTabContent>
        <img src="/assets/deskchair.jpg" alt="Desk Chair" style="display:block;margin:auto;width:300px;height:300px;">
        <div style="text-align:center;">
        <p>Our comfy, rolling desk chairs beat the standard, wooden dorm chairs any day.</p>
      </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
