<span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>SPRING SERVICES</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3vw; margin-bottom: 1%; color: grey;"><b>OUR SERVICES</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 2.5vw; margin-bottom: 1%;"><b>Choose a moving service to learn more!</b></span>
<div class="row">
<div class="btn-group-vertical" role="group" aria-label="Choose Service" style="margin:auto; justify-content:center; margin-bottom: 2%;">
  <button type="button" class="btn btn-primary" (click)="showMovingServices()" id="eastCoastButton">SUMMER STORAGE & SHIPPING</button>
  <button type="button" class="btn btn-primary" (click)="showGraduationServices()" id="nationwideButton">SENIOR GRADUATION SHIPPING</button>
</div>
</div>
<div *ngIf="this.id === 1" style="display: inline-block; width:100%;">
<div class="row" style="margin:auto;width:90%;justify-content:center;margin-bottom:2%;">
  <span style="display: inline-block; text-align: center; width: 100%; font-size: 3.5vw; margin-bottom: 1%; color: grey;"><b>SUMMER STORAGE & SHIPPING</b></span>
<ngb-accordion [closeOthers]="true" activeIds="locationView">
  <ngb-panel id="locationView" title="1. HOW DOES OUR SERVICE WORK?">
    <ng-template ngbPanelContent>
      <ol>
        <li>Create an account (here) or login (here)</li>
        <li>Select the desired service and choose a pickup date and time</li>
        <li>Our movers will come directly to your dorm room or off campus apartment during your selected time slot to pickup your items</li>
        <li>Upon pickup, all of your items will be invoiced</li>
        <li>Enjoy the summer and look out for our emails for storage return signups!</li>
      </ol>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="deliveryView" title="2. MORE INFORMATION">
    <ng-template ngbPanelContent>
      We’ll come right to your dorm room or apartment, store everything you don’t need over the summer and ship what you need back home. When you get back to school in the fall, we’ll deliver all of your storage to your new address at a time of your choosing, hassle-free!
      <br><br>
      We hand out free double-walled boxes and tape, or can come deliver them to you for an extra charge.
      <br><br>
      All of your storage items will be stored in a secured, climate-controlled facility.
      <br><br>
      <b>Note:</b> “Summer Storage & Shipping” is one service, so even if you need storage or only need shipping, this is still the service you should be signing up for.
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
</div>
<div *ngIf="this.id === 2" style="display: inline-block; width:100%;">
<div class="row" style="margin:auto;width:90%;justify-content:center;margin-bottom:2%;">
  <span style="display: inline-block; text-align: center; width: 100%; font-size: 3.5vw; margin-bottom: 1%; color: grey;"><b>SENIOR GRADUATION SHIPPING</b></span>
<ngb-accordion [closeOthers]="true" activeIds="locationView">
  <ngb-panel id="locationView" title="1. CHOOSE A PICKUP LOCATION">
    <ng-template ngbPanelContent>
      We offer group pickup locations in each major area, or, for an extra $50, you can enjoy the convenience of having all of your items picked up right from your home. Select a state to learn about home pick-ups.
      <h4 style="margin-bottom:2%; margin-top:2%">Pickup Locations/Dates</h4>
          <div class="dropdown" style="margin-bottom:2%;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" id="filterDropdown">Filter By State</button>
            <div class="dropdown-menu" aria-labelledby="filterDropdown">
              <button class="dropdown-item" (click)="getLocations()">Show All</button>
              <div *ngFor="let state of states">
                <button class="dropdown-item" (click)="filterByState(state.name)">{{ state.name }}</button>
              </div>
            </div>
          </div>
<div *ngIf="stateDescription">
  <div class="card" style="margin-bottom:2%;">
    <div class="card-body">
      <span >{{ stateDescription }}</span>
    </div>
  </div>
</div>
      <agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="4" style="width:80%;">
        <div *ngFor="let location of locations">
          <agm-marker [title] = "location.title" [latitude]="location.latitude" [longitude]="location.longitude">
            <agm-info-window>
              <h4>{{ location.title }}</h4>
              <div>Address: <span style="margin:bottom: 2%;"> {{ location.address }} </span></div>
              <div>Delivery Date: <span> {{ location.date }} </span></div>
              <a href="{{ location.pathURL }}" target="_blank"><span>View On Google Maps</span></a>
            </agm-info-window>
          </agm-marker>
      </div>
      </agm-map>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="deliveryView" title="2. MORE INFORMATION">
    <ng-template ngbPanelContent>
      While you’re celebrating your graduation with family and friends, let us handle the logistics of moving your items home.
      <br><br>
      Schedule a time that fits your busy schedule for us to come and pick up your belongings directly from your apartment door. It couldn’t be easier!
      <br><br>
      If you don’t live in one of our drop-off locations, we can ship your items home to you just as easily!    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
</div>
