<div class="container-fluid" style="position:relative;text-align:center;color:white;">
  <span style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 3.7vw; color: white;"><b>WE MAKE SUMMER STORAGE AND SHIPPING EASY!</b></span>
  <img src="/assets/main_image.jpg" style="width:100%;" alt="NO IMAGE FOUND">
  <div style="text-align: center;">
    <a class="nav-link" routerLink='/register' class="btn btn-primary" style="position: absolute; text-align: center; top: 65%; left: 42%; border-radius: 20px; width: 16%; font-size: 2.2vw;">SIGN UP</a>
  </div>
</div>
<div class="card" style="width: 100%; margin-bottom:5%; border-color:white">
  <div class="card-body">
    <h3 class="card-title text-center"><b>SHIPPING AND STORAGE FOR WASH U STUDENTS</b></h3>
    <p class="card-text text-center" style="font-size:20px;">Move-out can be difficult and stressful – let us do the heavy lifting while you’re acing your finals!</p>
    <p class="card-text text-center" style="font-size:20px;">We've worked closely with WashU families for years! Contact us with any special requests!</p>
  </div>
</div>
<div class="card row" style="width:90%; margin:auto; margin-bottom:4%; justify-content:center;">
  <div class="card-header">
    <b>SUMMER STORAGE & SHIPPING</b>
  </div>
  <div class="card-body">
    <p class="card-text">Let us help! We are a <b>student-owned and -operated</b> company that provides shipping, storage, and appliance rental services to over <b>1,800 WashU students every year.</b></p>
    <img class="card-img-top" src="/assets/box.png" alt="Card image cap" style="width:100px; height:100px; float:right;">
    <a routerLink='/spring-services' class="btn btn-primary">READ MORE</a>
  </div>
</div>
<div class="card row" style="width:90%; margin:auto; margin-bottom:4%; justify-content:center;">
  <div class="card-header">
    <b>SENIOR GRADUATION SHIPPING</b>
  </div>
  <div class="card-body">
    <p class="card-text">FILLER TEXT</p>
    <img class="card-img-top" src="/assets/technology.png" alt="Card image cap" style="width:100px; height:100px; float:right;">
    <a routerLink='/spring-services' class="btn btn-primary">READ MORE</a>
  </div>
</div>
<div class="card row" style="margin:auto; justify-content:center; width: 90%; margin-bottom:4%;">
  <div class="card-header">
    <b>WORK FOR UTRUCKING</b>
  </div>
  <div class="card-body">
    <p class="card-text">We are proud to say that we only hire WashU students. We pay <b>$12/hour</b>, move you in early for free, and you get to work with friends!</p>
    <img class="card-img-top" src="/assets/money.png" alt="Card image cap" style="width:120px; height:100px; float:right;">
    <a href="#" class="btn btn-primary">READ MORE</a>
  </div>
</div>
<div class="card row" style="margin:auto; justify-content:center; width: 90%; margin-bottom:4%;">
  <div class="card-header">
    <b>MEET THE TEAM</b>
  </div>
  <div class="card-body">
    <p class="card-text"><b>University Trucking, Inc.</b> was established in 1977 and offers WashU students with exceptional storage, shipping, and rental services. UTrucking is proudly owned and operated by WashU students!</p>
    <img class="card-img-top" src="/assets/utrucking_logo.png" alt="Card image cap" style="width:100px; height:100px; float:right;">
    <a routerLink='/about' class="btn btn-primary">READ MORE</a>
  </div>
</div>
