<span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>PRICING</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>SUMMER STORAGE PRICES</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-body">
    <span>All prices are per item and cover storage for the entire summer. <br> Prices include free boxes, tape, pickup, delivery, and basic insurance. <br> This is a list of items usually stored with us, but we can store anything! <br> Prices are based on volume and may be subject to adjustment if an item is smaller or larger than standard. <br> If you have any questions, e-mail or call us anytime!</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%">
    <thead>
      <tr>
        <b>BOXES</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small (2.0 ft<sup>3</sup> or less)</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Medium (2.0 ft<sup>3</sup> - 3.5 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Large (3.5 ft<sup>3</sup> - 4.5 ft<sup>3</sup>)</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>UTrucking Box (4.0 ft<sup>3</sup>)</td>
        <td>$65</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%;">
    <thead>
      <tr>
        <b>LUGGAGE</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small Suitcase/Duffel (2.0 ft<sup>3</sup> or less)</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Medium Suitcase/Duffel (2.01 ft<sup>3</sup> - 3.49 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Large Suitcase/Duffel (3.50 ft<sup>3</sup> - 4.49 ft<sup>3</sup>)</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>X-Large Suitcase/Duffle (4.50 ft<sup>3</sup> - 5.50 ft<sup>3</sup>)</td>
        <td>$70</td>
      </tr>
      <tr>
        <td>Medium Trunk (2.01 ft<sup>3</sup> - 3.49 ft<sup>3</sup>)</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>Large Trunk (3.50 ft<sup>3</sup> - 4.49 ft<sup>3</sup>)</td>
        <td>$70</td>
      </tr>
      <tr>
        <td>X-Large Trunk (4.50 ft<sup>3</sup> - 5.50 ft<sup>3</sup>)</td>
        <td>$80</td>
      </tr>
      <tr>
        <td>Camp Duffel</td>
        <td>$100</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        <b>PLASTICS</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Stackable Plastic Drawer (each)</td>
        <td>$35</td>
      </tr>
      <tr>
        <td>Small Plastic Storage Bin (2.0 ft<sup>3</sup> or less)</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Medium Plastic Storage Bin (2.0 ft<sup>3</sup>- 3.49 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Large Plastic Storage Bin (3.5 ft<sup>3</sup>- 4.5 ft<sup>3</sup>)</td>
        <td>$65</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        <b>FURNITURE</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small Fridge (1.8 ft<sup>3</sup> - 2.7 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Medium Fridge (2.7 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Large Fridge (4.0 ft<sup>3</sup> - 5.0 ft<sup>3</sup>)</td>
        <td>$70</td>
      </tr>
      <tr>
        <td>Microwave</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Boxed Desk Chair</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Desk Chair</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Futon Frame</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Futon Mattress</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Twin Mattress</td>
        <td>$200</td>
      </tr>
      <tr>
        <td>Twin Box Spring</td>
        <td>$200</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        <b>TRUNKS</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small (3.0 ft<sup>3</sup> or less)</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Large (3.0 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$60</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        <b>MISCELLANEOUS</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Boxed Bicycle</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>Unboxed Bicycle</td>
        <td>$125</td>
      </tr>
      <tr>
        <td>Poster Tube</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>Art Portfolio</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Extra Heavy Items (>70 lbs)</td>
        <td>+$35</td>
      </tr>
      <tr>
        <td>Additional Insurance (per $500 coverage)</td>
        <td>+$25</td>
      </tr>
      <tr>
        <td>Unreturned UTrucking Boxes**</td>
        <td>$7</td>
      </tr>
    </tbody>
  </table>
  <div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
    <div class="card-body">
      <span>**Boxes are free if used with a service or returned at pickup</span>
    </div>
  </div>

</div>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>SUMMER SHIPPING PRICES</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-body">
    <span>Prices include free boxes, tape, pickup, and delivery.</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%">
    <tbody>
      <tr>
        <td>Shipping</td>
        <td>$1.95/lb</td>
      </tr>
      <tr>
        <td>Oversized Shipment**</td>
        <td>$35</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%;">
    <thead>
      <tr>
        <b>LUGGAGE</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small Suitcase/Duffel (2.5 ft<sup>3</sup> or less)</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Large Suitcase/Duffel (2.5 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Camp Duffel</td>
        <td>$90</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        <b>TRUNKS</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small (3.0 ft<sup>3</sup> or less)</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Large (3.0 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$60</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        <b>MISCELLANEOUS</b>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Boxed Bicycle</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Unboxed Bicycle</td>
        <td>$115</td>
      </tr>
      <tr>
        <td>Twin Mattress</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Extra Large Sizes (>4.0 ft<sup>3</sup> - 5.0 ft<sup>3</sup>)</td>
        <td>$70</td>
      </tr>
      <tr>
        <td>Extra Heavy Items (>70 lbs)</td>
        <td>+$35</td>
      </tr>
      <tr>
        <td>Home Pick-ups</td>
        <td>+$35</td>
      </tr>
    </tbody>
  </table>
  <div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
    <div class="card-body">
      <span>**Oversized specification is determined by FedEx</span>
    </div>
  </div>
</div>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>SENIOR GRADUATION EAST COAST AND TEXAS SHIPPING PRICES</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-body">
    <span>Prices include free boxes, tape, pickup, and delivery. <br> Prices are based on volume and may be subject to adjustment if an item is smaller or larger than standard. <br> If you have any questions, e-mail or call us anytime.</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
<table class="table table-sm" style="width:40%;margin:auto;">
  <thead>
    <tr>
      <b>SHIPPABLE ITEMS</b>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Small Box</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>Medium Box</td>
      <td>$60</td>
    </tr>
    <tr>
      <td>Large Box</td>
      <td>$70</td>
    </tr>
    <tr>
      <td>X-Large Box</td>
      <td>$75</td>
    </tr>
    <tr>
      <td>XX-Large Box</td>
      <td>$80</td>
    </tr>
    <tr>
      <td>Small Suitcase/Duffel</td>
      <td>$55</td>
    </tr>
    <tr>
      <td>Large Suitcase/Duffel</td>
      <td>$65</td>
    </tr>
    <tr>
      <td>X-Large Suitcase/Duffel</td>
      <td>$75</td>
    </tr>
    <tr>
      <td>Camp Duffel</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>Small Trunk</td>
      <td>$65</td>
    </tr>
    <tr>
      <td>Large Trunk</td>
      <td>$70</td>
    </tr>
    <tr>
      <td>X-Large Trunk</td>
      <td>$85</td>
    </tr>
    <tr>
      <td>Small Plastic Storage Bin</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>Medium Plastic Storage Bin</td>
      <td>$55</td>
    </tr>
    <tr>
      <td>Large Plastic Storage Bin</td>
      <td>$60</td>
    </tr>
    <tr>
      <td>Carpet/Rug</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>Dresser</td>
      <td>$175</td>
    </tr>
    <tr>
      <td>Boxed Bicycle</td>
      <td>$75</td>
    </tr>
    <tr>
      <td>Un-boxed Bicycle</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>Desk Chair</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>Desk</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>Futon Frame</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>Futon Mattress</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>Twin Mattress</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>Twin Box Spring</td>
      <td>$200</td>
    </tr>
  </tbody>
</table>
<table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
  <thead>
    <tr>
      <b>EXTRAS</b>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Group Location Delivery</td>
      <td>FREE</td>
    </tr>
    <tr>
      <td>Home Delivery</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>Extra-Heavy Items (70 lbs or more)</td>
      <td>+$35</td>
    </tr>
    <tr>
      <td>Unreturned UTrucking Boxes**</td>
      <td>$7</td>
    </tr>
  </tbody>
</table>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-body">
    <span>
      **Boxes are free if used with a service or returned at pickup
    </span>
  </div>
</div>
</div>

<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>SENIOR GRADUATION CHICAGO AREA/DOWNSTATE ILLINOIS SHIPPING PRICES</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-body">
    <span>Prices include free boxes, tape, pickup, and delivery.<br>
    Prices are based on volume and may be subject to adjustment if an item is smaller or larger than standard. <br>
    If you have any questions, e-mail or call us anytime.</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
<table class="table table-sm" style="width:40%;margin:auto;">
  <thead>
    <tr>
      <b>SHIPPABLE ITEMS</b>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Small Box</td>
      <td>$35</td>
    </tr>
    <tr>
      <td>Medium Box</td>
      <td>$40</td>
    </tr>
    <tr>
      <td>Large Box</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>X-Large Box</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>XX-Large Box</td>
      <td>$55</td>
    </tr>
    <tr>
      <td>Small Suitcase/Duffel</td>
      <td>$35</td>
    </tr>
    <tr>
      <td>Large Suitcase/Duffel</td>
      <td>$40</td>
    </tr>
    <tr>
      <td>X-Large Suitcase/Duffel</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>Small Trunk</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>Large Trunk</td>
      <td>$55</td>
    </tr>
    <tr>
      <td>X-Large Trunk</td>
      <td>$60</td>
    </tr>
    <tr>
      <td>Small Plastic Storage Bin</td>
      <td>$30</td>
    </tr>
    <tr>
      <td>Medium Plastic Storage Bin</td>
      <td>$35</td>
    </tr>
    <tr>
      <td>Large Plastic Storage Bin</td>
      <td>$40</td>
    </tr>
    <tr>
      <td>Small File Cabinet</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>Large File Cabinet</td>
      <td>$60</td>
    </tr>
    <tr>
      <td>Boxed Bicycle</td>
      <td>$75</td>
    </tr>
    <tr>
      <td>Un-boxed Bicycle</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>Folding Chair</td>
      <td>$35</td>
    </tr>
    <tr>
      <td>Desk Chair</td>
      <td>$100</td>
    </tr>
    <tr>
      <td>Desk</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>Futon</td>
      <td>$175</td>
    </tr>
    <tr>
      <td>Mattress</td>
      <td>$175</td>
    </tr>
    <tr>
      <td>Box Spring</td>
      <td>$175</td>
    </tr>
  </tbody>
</table>
<table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
  <thead>
    <tr>
      <b>EXTRAS</b>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Home Delivery</td>
      <td>$25</td>
    </tr>
    <tr>
      <td>Extra-Heavy Items (70 lbs or more)</td>
      <td>+$35</td>
    </tr>
    <tr>
      <td>Unreturned UTrucking Boxes**</td>
      <td>$7</td>
    </tr>
  </tbody>
</table>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-body">
    <span>**Boxes are free if used with a service or returned at pickup</span>
  </div>
</div>
</div>
