<span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>ABOUT US</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 2.4vw; margin-bottom: 2%; color: grey;"><b>UNIVERSITY TRUCKING IS PROUDLY OWNED AND OPERATED BY WASHU STUDENTS</b></span>
<div style="margin:auto;justify-content:center;width:50%;">
  <div class="card row" style="margin-bottom:2%;">
    <img class="card-img-top" src="/assets/rosie.png" alt="Card image cap" style="margin:auto;margin-top:2%;justify-content:center;border-radius:90px;width:180px;height:180px;">
    <div class="card-body">
      <h4 class="card-title text-center" >Craig Moskowitz</h4>
      <p class="card-text text-center"><b>President</b><br></p>
      <p class="card-text text-center">Craig is a senior from New York City. He is majoring in Economics and PNP with a minor in Finance. Craig primarily manages on-campus operations, vendor relationships, and accounting. Craig is also a member of the Alpha Epsilon Pi fraternity.</p>
    </div>
  </div>
  <div class="card row" style="margin-bottom:2%;">
    <img class="card-img-top" src="/assets/rosie.png" alt="Card image cap" style="margin:auto;margin-top: 2%;justify-content:center;border-radius:90px;width:180px;height:180px;">
    <div class="card-body">
      <h4 class="card-title text-center">Dan Mazour</h4>
      <p class="card-text text-center"><b>Chief Operating Officer</b></p>
      <p class="card-text text-center">Dan is a senior from Livingston, NJ double majoring in Healthcare Management and Computer Science. Dan is responsible for lot operations and managing the website. In the past, he has managed independent contractors and marketing. Dan is also a brother of the Sigma Chi fraternity.</p>
    </div>
  </div>
  <div class="card row" style="margin-bottom:2%;">
    <img class="card-img-top" src="/assets/rosie.png" alt="Card image cap" style="margin:auto;margin-top: 2%;justify-content:center;border-radius:90px;width:180px;height:180px;">
    <div class="card-body">
      <h4 class="card-title text-center">Brendan Webb</h4>
      <p class="card-text text-center"><b>Chief Financial Officer</b></p>
      <p class="card-text text-center">Brendan is a junior from Sherborn, MA. He is studying Economics with a second major in Finance. Brendan works on everything operations and logistics, including making sure the trucks are where they need to be, when they need to be there. Brendan is also a new member of the Sigma Phi Epsilon fraternity.</p>
    </div>
  </div>
  <div class="card row" style="margin-bottom:2%;">
    <img class="card-img-top" src="/assets/rosie.png" alt="Card image cap" style="margin:auto;margin-top: 2%;justify-content:center;border-radius:90px;width:180px;height:180px;">
    <div class="card-body">
      <h4 class="card-title text-center">Jack Marchetto</h4>
      <p class="card-text text-center"><b>VP of Operations & Customer Service</b><br></p>
      <p class="card-text text-center">Jack is a sophomore from Fort Lauderdale, FL. He is majoring in Systems Engineering. Jack is in charge of relations with customers and lot operations. Jack is a member of the club soccer team and the Alpha Epsilon Pi fraternity. </p>
    </div>
  </div>
  <div class="card row" style="margin-bottom:2%;">
    <img class="card-img-top" src="/assets/rosie.png" alt="Card image cap" style="margin:auto;margin-top: 2%;justify-content:center;border-radius:90px;width:180px;height:180px;">
    <div class="card-body">
      <h4 class="card-title text-center">Daniel Podolsky</h4>
      <p class="card-text text-center"><b>VP of Finance & Marketing</b><br></p>
      <p class="card-text text-center">Daniel is a sophomore from New York City. He is double majoring in Finance and Operations & Supply Chain Management. Daniel primarily handles marketing, customer service, and on-campus operations. He is also a member of the Sigma Nu fraternity and Alpha Kappa Psi business fraternity. When he’s not trucking, he loves going to concerts, playing basketball, and finding new places to eat in St. Louis. </p>
    </div>
  </div>
  <div class="card row" style="margin-bottom:2%;">
    <img class="card-img-top" src="/assets/rosie.png" alt="Card image cap" style="margin:auto;margin-top: 2%;justify-content:center;border-radius:90px;width:180px;height:180px;">
    <div class="card-body">
      <h4 class="card-title text-center" >Zach Rosenthal</h4>
      <p class="card-text text-center"><b>VP of Human Resources & Operations</b></p>
      <p class="card-text text-center">Zach is a sophomore from Westchester, NY. He is majoring in PNP with a minor in Computer Science. Zach loves deliveries, recruits and manages independent contractors, and helps manage operations. He is also a member of the Kappa Sigma fraternity. In his free time, Zach enjoys making beats and longboarding. </p>
    </div>
  </div>
</div>
