<span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>FAQS</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; margin-bottom: 1%; color: grey;"><b>GENERAL QUESTIONS</b></span>

<div style="margin-bottom:2%;">
<ngb-accordion [closeOthers]="true">
<ngb-panel title="+ I STORED MY STUFF WITH UTRUCKING OVER THE SUMMER. HOW DO I GET IT BACK?">
    <ng-template ngbPanelContent>
      Log in to your account by typing your email address and unique password that you picked when creating your account. Then, order Summer Storage Return and fill in all of your delivery information. Select a date and time for delivery, and then sit back and relax!
  </ng-template>
</ngb-panel>
<ngb-panel title="+ HOW DO I RENT APPLIANCES? WHAT ARE YOUR PRICES?">
  <ng-template ngbPanelContent>
    To rent an appliance, either log in or create an account. Then, select the appliance that you would like to order, fill in the appropriate delivery information, and we'll take care of the rest! Pricing can be found here.
  </ng-template>
</ngb-panel>
<ngb-panel title="+ I WANT TO SHIP MY ITEMS TO WASHU, WHAT DO I DO?">
  <ng-template ngbPanelContent>
    If you live on the East Coast you can use our convenient East Coast Shipping service. You can either take your items to one of our drop off locations or for a small extra fee have it picked up from your home. To order, log in or create an account and order East Coast Shipping. Drop off locations and home pick up schedules are located here. If you don't live on the East Coast, you can still have your items delivered to your dorm room. Just ship your goods to the following address and we'll deliver them right to your room. To order, log in here or create an account and order Ship To School.
    <br><br>
    Ship items to:
    <br><br>
    Washington University Mail Services
    <br>
    U-Trucking c/o <b>STUDENT NAME</b>
    <br>
    700 Rosedale Avenue
    <br>
    St. Louis, MO 63112
    <br>
    More information for both services can be found here.
</ng-template>
</ngb-panel>
<ngb-panel title="+ HOW DO I LABEL MY SHIPPING ITEMS?">
  <ng-template ngbPanelContent>
    In order for us to make deliveries on time, please include the student's name, delivery location and an itemized count of the total items (i.e. 1 of 9, 2 of 9, 3 of 9, etc).
  </ng-template>
</ngb-panel>
<ngb-panel title="+ HOW MUCH DOES EVERYTHING COST?">
  <ng-template ngbPanelContent>
    All pricing information can be found here. Don't see something on our comprehensive list? Send us an email at info@utrucking.com with a photo, link, or description, and we'll do our best to give you a quote based on the information you give us.
  </ng-template>
</ngb-panel>
<ngb-panel title="+ WHAT ABOUT INSURANCE?">
  <ng-template ngbPanelContent>
    For our Ship-to-School services, we offer full insurance for all properly packaged items. Anything that is shipped to us via UPS, FedEx, etc, can not be insured through us and must be insured through your respective shipper. More information can be found here.  </ng-template>
</ngb-panel>
<ngb-panel title="+ MY BOX IS DAMAGED, WHAT SHOULD I DO?">
  <ng-template ngbPanelContent>
    We take the care of your belongings incredibly seriously. However in the event that one of your items gets damaged please contact us immediately with a filled out claims form found here. We are very proactive with our insurance and will follow up your claim immediately by sending one of our experienced representatives to discuss the damaged item.
   </ng-template>
</ngb-panel>
</ngb-accordion>
</div>
