<div class="container" style="margin:auto; justify-content:center; text-align:center;width:80%;">
  <p class="card-text text-center" style="font-size:40px;margin-top:2%;"><b>Don't have an account? Sign up here!</b></p>
  <a class="nav-link" routerLink='/register' class="btn btn-primary" style="margin:auto;justify-content:center;margin-bottom:3%;font-size:18px;">Sign up</a>
</div>
<div class="col-md-6" style="margin:auto;border-top:1px solid #428bca;width:80%;">
    <form>
      <div>
        <span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>LOGIN</b></span>
      </div>
        <div class="form-group">
            <label for="user-email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="this.user.email" required />
        </div>
        <div class="form-group" >
            <label for="user-password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="this.user.password" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" (click)="login()">Login</button>
        </div>
    </form>
</div>
