<div class="container" style="margin:auto; justify-content:center; text-align:center;width:80%;">
  <p class="card-text text-center" style="font-size:40px;margin-top:2%;"><b>Already have an account? Sign in here!</b></p>
  <a class="nav-link" routerLink='/login' class="btn btn-primary" style="margin:auto;justify-content:center;margin-bottom:3%;font-size:18px;">I already have an account</a>
</div>
<div style="margin:auto;border-top:1px solid #428bca;width:80%">
<form>
  <div>
    <span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>LOGIN CREDENTIALS</b></span>
  </div>
  <div name="user-login">
    <div class="form-group">
      <label for="user-email">Student Email<span style="color:red;">*</span></label>
      <input type="email" class="form-control" name="user-email" [(ngModel)]="this.student.email" required>
      <small id="emailHelpBlock" class="form-text text-muted">
        If possible, @wustl.edu email addresses are preferred
      </small>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="user-password">Password<span style="color:red;">*</span></label>
        <input type="password" class="form-control" name="user-password" [(ngModel)]="this.student.password" required>
      </div>
      <div class="form-group col-md-6">
        <label for="user-password-confirm">Confirm Password<span style="color:red;">*</span></label>
        <input type="password" class="form-control" name="user-password-confirm" [(ngModel)]="this.confirmedPassword" required/>
      </div>
    </div>
  </div>
  <div>
    <span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>MY INFORMATION</b></span>
  </div>
  <div name="user-information">
    <div class="row">
    <div class="form-group col-md-6">
      <label for="user-first">First Name<span style="color:red;">*</span></label>
      <input class="form-control" name="user-first" [(ngModel)]="this.student.first_name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="user-last">Last Name<span style="color:red;">*</span></label>
      <input class="form-control" name="user-last" [(ngModel)]="this.student.last_name" required>
    </div>
  </div>
    <div class="form-group">
      <label for="user-parent-email">Parent's Email<span style="color:red;">*</span></label>
      <input type="email" class="form-control" name="user-parent-email" [(ngModel)]="this.student.parent_email" required>
    </div>
    <div class="form-row">
        <label for="user-home-phone">Home Phone<span style="color:red;">*</span></label>
      <span>
        <input class="form-control" name="user-home-phone" [(ngModel)]="this.student.home_phone" placeholder="Format: (123) 456-7890" required>
      </span>
      <div class="col">
        <label for="user-cell-phone">Cell Phone<span style="color:red;">*</span></label>
        <input class="form-control" name="user-cell-phone" [(ngModel)]="this.student.cell_phone" placeholder="Format: (123) 456-7890" required>
      </div>
      <div class="col">
        <input class="form-control" name="user-cell-phone" [(ngModel)]="this.student.cell_phone" placeholder="Format: (123) 456-7890" required>
      </div>
      <div class="col">
        <input class="form-control" name="user-cell-phone" [(ngModel)]="this.student.cell_phone" placeholder="Format: (123) 456-7890" required>
      </div>
    </div>

    </div>
    <div class="form-group">
      <label for="user-grad-year">Graduation Year<span style="color:red;">*</span></label>
      <input class="form-control" name="user-grad-year" [(ngModel)]="this.student.grad_year" placeholder="e.g. 2019" required>
    </div>
  <div>
    <span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>HOME ADDRESS</b></span>
  </div>
  <div name="user-home-address">
    <div class="form-group">
      <label for="user-home-street">Street<span style="color:red;">*</span></label>
      <input class="form-control" name="user-home-street" [(ngModel)]="this.address.street" required>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="user-home-city">City<span style="color:red;">*</span></label>
        <input class="form-control" name="user-home-city" [(ngModel)]="this.address.city" required>
      </div>
      <div class="form-group col-md-4">
        <label for="user-home-state">State<span style="color:red;">*</span></label>
        <select class="form-control" name="user-home-state" [(ngModel)]="this.address.state">
          <option *ngFor="let state of states">{{ state.name }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="user-home-zip">ZIP/Postal Code<span style="color:red;">*</span></label>
        <input class="form-control" name="user-home-zip" [(ngModel)]="this.address.zip" required>
      </div>
    </div>
    <div class="form-group">
      <label for="user-home-country">Country<span style="color:red;">*</span></label>
      <select class="form-control" name="user-home-country" [(ngModel)]="this.address.country" required>
        <option *ngFor="let country of countries">{{ country }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="user-home-province">Province</label>
      <input class="form-control" name="user-home-province" [(ngModel)]="this.address.province">
    </div>
  </div>
  <button class="btn btn-primary" (click)="createUser()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Sign Up Now!</button>
</form>
</div>
