<span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>TERMS AND CONDITIONS</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>JULY, 2017</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 2.5vw; margin-bottom: 1%;"><b>This Agreement contains the complete terms and conditions under which University Trucking, Inc. ("UT") provides services to the Customer.</b></span>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">STORAGE SERVICES</h4>
  <div class="card-text">
    <p>Storage Services shall include the pickup, transportation, storage, and delivery of the Customer's possessions. The Customer shall present pre-packed personal goods to UT at the time of pickup. UT shall transport these goods to an appropriate storage facility chosen at the sole discretion of UT. UT will return the goods to the Customer during dates and times established by UT by considering school and dormitory schedules. Customer agrees to be present to receive the goods at the specified delivery date, time, and location.</p>
    <p>The Customer understands access to goods in storage is permitted only with 2 days prior notice during standard operational periods and upon payment of a non-refundable fee as per the Pricing section below. If the items must be delivered prior to the specified delivery dates, an additional fee will apply as per the Pricing section below.</p>
    <p>Changes to the previously scheduled delivery date or location must be communicated by the Customer to UT at least 7 days prior to the earlier of the originally scheduled delivery date and the new delivery date. Changes made within 7 days of delivery are not guaranteed. An additional fee may be assessed as per the Pricing section below.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center" >SHIPPING SERVICES</h4>
  <div class="card-text">
    <p>UT shall act only as an intermediary for the receipt and forwarding of the Customer's shipping items to the UT-designated shipping carrier ("Carrier"). The Customer agrees to complete shipping labels provided by UT in a legible and complete manner prior to pickup of the goods by UT. UT will pickup and transport the shipping items to the Carrier. The Carrier will deliver the items to the address specified on the shipping labels approximately 14 business days after their pickup.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center" >MOVE-IN SERVICES</h4>
  <div class="card-text">
    <p>UT shall receive in its warehouse packages shipped by the Customer using the UT move-in shipping service or any other shipping service. UT will inspect incoming packages for damage to the exterior packaging only. UT will not be responsible for any damages sustained during shipping to the warehouse. Customers using the UT move-in shipping service must process claims directly with the shipping carrier as per terms outlined in the Insurance sections below. Customers using a shipping service other than the UT move-in shipping service must contact their own carrier for insurance claim information.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">SUPPLY DISTRIBUTION</h4>
  <div class="card-text">
    <p>UT will make available boxes and other packing supplies approximately one week prior to the commencement of the school move out week. UT will notify the Customer in advance of the dates, times, and locations where the supplies can be obtained. It is the responsibility of the Customer to make arrangements to pick up the supplies during the times specified. While UT will use its best efforts, it does not guarantee that adequate supplies will be available to meet the Customer's needs.</p>
    <p>The Customer hereby authorizes UT to charge their credit card or bank account for the price of the supplies taken by the Customer. Prices for the supplies will be posted at the point of distribution.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">DELIVERY</h4>
  <div class="card-text">
<p>The Customer recognizes that UT will not be held liable for damage to their belongings after delivery has occurred. In the event that the Customer is not present during their scheduled delivery date and time, University Trucking representatives will leave their belongings outside their room and UT's liability for the Customer's belongings will cease. If absent during delivery, the signature of the UT's employee making the delivery will evidence the delivery of the Customer's items in good condition.</p>
<p>The Customer recognizes that only loss or damage caused by the negligence of UT will be covered by the UT insurance policy, as described in these Terms and Conditions. Only physical damage to the exterior of the item will activate any insurance claim on the item.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">UT SERVICE GUARANTEE</h4>
  <div class="card-text">
<p>Concerning the Customer's shipping items, UT assumes no liability for the failure to make any specified delivery time or for the successful completion of delivery of the items or the contents thereof.</p>
<p>UT guarantees on-schedule pickup of shipping and storage items and delivery of storage items. UT will provide the Customer with a maximum window of four hours during which pickup or delivery will occur. In the event UT fails to arrive to pickup or deliver the Customer's goods during the specified time window, UT will issue a credit equal to 10% of the total price of the Customer's order, subject to the conditions below:
</p>
<ol>
  <li>The Customer was present in their residence throughout the applicable four-hour window.</li>
  <li>In the case of pickup, the Customer has all packages packed, labeled, and prepared for pickup prior to UT's arrival.</li>
  <li>In the case of the delivery of stored goods, the Customer has correctly labeled each of their packages with their name.</li>
  <li>UT is notified in writing or by telephone of a service failure within seven calendar days from the date of the scheduled pickup or delivery.</li>
  <li>The guarantee does not apply if the failure to perform within the pickup or delivery window is due to causes beyond UT's control including, but not limited to, the following: the unavailability or refusal of a person to accept delivery of the stored items; acts of God; public authorities acting with actual or apparent authority on the premises; acts or omissions of police or similar authorities; riots, strikes, or other labor disputes; civil commotions; disruptions in ground transportation networks, such as weather phenomena; and natural disasters.</li>
</ol>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">COMMODITIES HANDLED AND RESTRICTIONS ON SERVICE</h4>
  <div class="card-text">
<p>Since UT will act as an intermediary for our Shipping Carrier, the Customer must be advised that our Carrier holds itself out to transport general commodities, as usually defined, subject to the restrictions that are available at their Web site. The Customer agrees to familiarize themselves with the Carrier's restrictions prior to packing their articles for shipping.</p>
<p>UT provides storage services subject to a number of restrictions. The Customer accepts full responsibility and liability for any damages or losses that result from the Customer's failure to adhere to these service restrictions. No storage service shall be rendered:</p>
<ol>
  <li>In the case of articles of unusual value, or of single packages having a value of more than $1,000 (U.S), or of collective packages having a value of more than $6,000 (U.S.) plus $100 (U.S.) per package.</li>
  <li>For items containing valuables such as jewelry & collectibles.</li>
  <li>For hazardous materials and firearms.</li>
  <li>For any items that are prohibited by law or regulations of any federal, state, provincial, or local government in the U.S.</li>
  <li>For the transportation and storage of articles prohibited by UT's logistics vendors, a complete list of which is available on the UT Web site.</li>
</ol>
<p>UT will not store or ship packages containing liquids, and the Customer acknowledges that they are liable for any damage their storage contents may inflict on the property of others.</p>
<p>UT reserves the right to refuse any package which by reason of the dangerous or other character of its contents is liable, in the judgment of UT, to soil, taint, or otherwise damage other merchandise or equipment, or which is economically or operationally impractical to transport, or which is improperly packed or wrapped. UT reserves the right to open and inspect any package tendered to it for storage or shipping.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">PACKING TIPS</h4>
  <div class="card-text">
<p>The Customer acknowledges reading and accepting the terms of the UT Packing Tips as found on the UT Web site and agrees that the safe packing of items is the sole responsibility of the Customer. For shipping items, the Customer acknowledges that they have reviewed the Carrier's packaging standards for shock, vibration & compression, which are available at the Carrier's Web site.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">APPLIANCE RENTALS</h4>
  <div class="card-text">
<p>UT is not required to refund the customer's appliance deposit in the following situations:</p>
<ol>
  <li>If the appliance is returned damaged or broken by the customer</li>
  <li>If the appliance is returned dirty or without being defrosted and wiped down by the customer</li>
  <li>If the appliance is returned in noticeably worse condition than it is received by the customer</li>
</ol>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">PAYMENT FOR SERVICES</h4>
  <div class="card-text">
    <p>The Customer agrees to pay the total cost of the services provided by UT based on the number and type of items tendered to UT at the time of pickup, the exact services to be provided, and the prices contained on the UT web site. The Customer further agrees to pay any applicable fees as specified in the Pricing section.</p>
    <p>The Customer agrees to pay a deposit by credit card or e-check to ensure proper credit for billing purposes and to reserve space for our services. The deposit will be credited against the Customer's final bill. If the final bill falls below the deposit amount, the difference will be refunded to the customer. Deposits will be refundable only if requested prior to 2 weeks before the Customer's finals week. The deposit will be refunded in full in the event that UT is unable to perform the services for the Customer for any reason other than the Customer's willful acts to void the contract.</p>
    <p>All charges for services are due and payable immediately following the pickup of the Customer's possessions. All accounts must be paid by credit card or e-check following pickup. The Customer hereby authorizes UT to charge the Customer-provided credit card or bank account for the balance owing for the services rendered and any additional fees after deducting the initial deposit.</p>
    <p>Checks or cash are not accepted on the day of pickup and should not be given to UT representatives under any circumstance.</p>
    <p>The Customer acknowledges that they remain indebted to UT for any balance owed on their account as a result of invalid credit card or e-check information, UT's inability to receive credit card or e-check charge authorizations, or for any other reason which prevents UT from being paid for the services and any additional fees. If the Customer has failed to pay the charges for the services or any additional fees prior to the date of scheduled delivery of stored packages, UT reserves the right to hold the Customer's possessions until payment has been received in full. The Customer acknowledges that their failure to pay their account in full prior to the delivery date could result in a change in the delivery date and the assessment of additional fees.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">PRICING</h4>
  <div class="card-text">
    <p>Pricing for the services shall be in accordance with the pricing schedule contained on the UT Web site. In addition, UT will charge and the Customer will pay additional fees as described in this section. The purpose of the additional fees is to compensate UT for expenses it incurs beyond those associated with the provision of services according to standard procedures. Additional Fees may be, at the discretion of UT, charged for the following, as explained in the sections of this Agreement: Redelivery After Failed Attempt - $50, Pick-Up or Delivery Outside Standard Dates - up to $100, Late Change of Delivery Day or Location - $30, Late Billing Fee (after net-30) - $15, Additional Abandonment Fees - Costs incurred when storage items are not claimed by the Customer.</p>
    </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">USE OF INDEPENDENT AGENTS</h4>
  <div class="card-text">
    <p>UT uses vendors and other agents in performing the services for the Customer. The Customer acknowledges the use of these parties and the fact that the Customer has no contractual relationship with these parties.</p>
    </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">INSURANCE - COVERAGE AVAILABLE</h4>
  <div class="card-text">
    <p>UT automatically protects each UT storage and shipping package against loss or damage up to a value of $100. Unless the Customer purchases additional insurance from UT, the Customer agrees that the released value of each package is no greater than $100 and that UT's liability is limited to $100.</p>
    <p>To the extent that the Customer does not obtain insurance coverage for the full value of their personal property stored or shipped with UT, the Customer hereby agrees to assume all risk of loss, including damage or loss by burglary, fire, vandalism or vermin. UT and UT's agents, affiliates, authorized representatives and employees will not be responsible for, and the Customer hereby releases from, any loss, liability, claim, expense, damage to property or injury to persons that could have been insured (including without limitation any loss arising from the active or passive acts, omission or negligence of UT or its agents, affiliates, authorized representatives and employees).</p>
    <p>UT strongly recommends the purchase of additional insurance in cases where the replacement value of the Customer's possessions exceeds $100 per package. Additional insurance is available at the rate specified in the pricing schedule contained on the UT Web site. The maximum amount of additional insurance is $900 for each stored package. There is also a maximum of $6000 for the aggregate of the storage items.</p>
    <p>To purchase additional storage insurance, the Customer must:</p>
    <ol>
      <li>Indicate the amount of insurance for each item on the UT contract prior to or at the time of pickup.</li>
      <li>Mark or label each item to correspond with the itemization contained on the UT contract.</li>
      <li>Confirm that insurance coverage has in fact been placed by reviewing the bill for services they receive from UT and notifying UT of any omission or error within 10 days of the bill being handed to or emailed to you.</li>
    </ol>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">INSURANCE - COVERAGE DESCRIPTION</h4>
  <div class="card-text">
    <p>For shipping items, please refer to our Shipping Carrier's Web site to obtain complete information on their insurance provisions.</p>
    <p>The basic and additional insurance for stored items provides coverage against damage or loss of the Customer's stored packages. The insurance does not cover:</p>
    <ol>
      <li>Jewelry, coins, and collectables</li>
      <li>Cash</li>
      <li>Damage to electronic equipment if there is no evidence of physical damage or breakage to the packaging container</li>
      <li>Items of intangible value</li>
      <li>Extremely fragile items (e.g. mirrors)</li>
      <li>Concealed damage</li>
      <li>Unpacked items, including furniture that is not wrapped and protected</li>
      <li>Minor damage due to normal handling (including but not limited to scratches, nicks,& cuts)</li>
      <li>Any damage caused by force majeure</li>
      <li>Damage to storage containers (e.g. boxes, trunks, etc.)</li>
      <li>Damages due to natural disasters, and any and all loss or damages occurring while the items are not in the possession of UT</li>
      <li>Damages caused to particle board and assembled furniture</li>
    </ol>
    <p>Damaged items must have evidence of physical damage to the exterior packaging of the item. UT cannot be held liable for concealed damage to items within a carton, trunk, or other casing without physical damage to the exterior of the package.</p>
    <p>The Customer acknowledges that they are liable for any damage their storage contents may inflict on the property of others.</p>
    <p>Notwithstanding anything to the contrary contained in this Agreement, UT's maximum liability for any damage, loss, cost, or expense incurred as a result of any storage by UT is limited by the terms included in this Agreement. All insurance coverage is expressly limited to the period in which the Customer's possessions are in the actual care and custody of UT.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">INSURANCE CLAIMS</h4>
  <div class="card-text">
    <p>The Customer agrees to first claim any loss against any insurance carried by the Customer or the Customer's parents, if available. The Customer will make claims against UT only after exhausting other areas of coverage.</p>
    <p>In the case of damage to stored packages, any damaged cartons must be inspected in the presence of a UT representative at the time of delivery to confirm damage. All damaged boxes must be opened at the time of delivery, at which time the UT representative will document the damage. For loss of stored packages, the Customer must notify the UT representative of the loss at the time of delivery of the other packages and sign the delivery receipt amended for the lost package. The missing items must be noted on the form and signed off by the UT representative.</p>
    <p>If the customer is not present during the time of delivery, the condition notes recorded on the contract, if any, will determine the existence and extent of damage or loss.</p>
    <p>Claims for loss of, or damage to, the Customer's property must be filed with UT by requesting a claims form from UT. Claims shall be deemed waived if not filed within 14 days following delivery of the damaged package or, in the case of lost items, within 14 days following the scheduled delivery of the missing item. Upon receipt of a completed Claim Form and any required documentation, UT will process the claim and issue a formal reply to the Customer within 30 days of receipt of the Claim Form and documentation. UT will pay the lesser of the following claim amounts:</p>

    <ol>
      <li>The cost of reasonably restoring the property to its condition immediately before the move (applies only in the case of damaged items).</li>
      <li>The actual replacement value of the property.</li>
      <li>The amount of insurance on the package, which is:</li>
      <ol>
        <li>$100 if no additional insurance was purchased, or</li>
        <li>The lesser of:</li>
        <ol>
          <li>$1000 (the maximum single item coverage) or</li>
          <li>The amount of additional insurance the Customer purchased for the item plus the $100 of free insurance</li>
        </ol>
      </ol>
    </ol>
    <p>It is hereby expressly agreed that UT shall have no liability if any claim is denied or paid in part by the Shipping Carrier or insurance company.</p>
  </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">ABANDONMENT</h4>
  <div class="card-text">
    <p>Without limiting the right of UT to conclude for other reasons that the Customer will not be returning to school, the Customer agrees that their failure to be present on the scheduled delivery day and their failure to communicate with UT concerning an alternate delivery arrangement constitutes abandonment of their stored possessions.</p>
    <p>Under abandonment of their possessions, the Customer agrees to pay UT for all charges and fees relating to the failed delivery and further shipping of the possessions to the permanent address provided by the Customer at the time of registration. UT has the right to assume ownership of the abandoned property on December 30th of the service year.</p>
    </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">WAIVER</h4>
  <div class="card-text">
    <p>Except as specifically provided in this Agreement, the Customer waives any claims for damage or loss of any article against UT and its employees. The Customer expressly releases and holds UT, and its agents and employees harmless from any and all costs of processing any claim or defending any claim arising from this Agreement. The Customer expressly acknowledges that UT is not a professional storer, mover or common carrier and waives the right to hold UT to any laws or standards governing storers, movers or carriers.</p>
    </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">APPLICABLE LAW</h4>
  <div class="card-text">
      <p>This Agreement shall be governed, interpreted, and construed according to the law of the State of Missouri. The Customer agrees that any court action pertaining to this agreement shall be conducted in courts in the State of Missouri.</p>
    </div>
  </div>
</div>
<div class="card" style="margin:auto;margin-bottom:2%;">
  <div class="card-body">
    <h4 class="card-title text-center">ENTIRE AGREEMENT</h4>
  <div class="card-text">
    <p>The Customer acknowledges that there are no representations, warranties, or Agreements by or between the parties which are not fully set forth herein and no representative of UT or UT's agents is authorized to make any representations, warranties, or Agreements other than as expressly set forth herein. This Agreement may only be amended by a writing signed by the parties.</p>
    </div>
  </div>
</div>
