<span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>PRICING</b></span>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>EAST COAST AND TEXAS SHIP-TO-SCHOOL</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-block">
    <span>All prices are per item and cover the pickup, delivery, and basic insurance.
    <br>Prices are based on volume and may be subject to adjustment if an item is smaller or larger than standard.</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%">
    <thead>
      <tr>
        BOXES
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small (2.0 ft<sup>3</sup> or less)</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Medium (2.0 ft<sup>3</sup> - 3.5 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Large (3.5 ft<sup>3</sup> - 4.5 ft<sup>3</sup>)</td>
        <td>$60</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%;">
    <thead>
      <tr>
        LUGGAGE
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small Suitcase/Duffel (2.5 ft<sup>3</sup> or less)</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Large Suitcase/Duffel (2.5 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Camp Duffel</td>
        <td>$90</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        TRUNKS
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small (3.0 ft<sup>3</sup> or less)</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Large (3.0 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$60</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        MISCELLANEOUS
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Boxed Bicycle</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Unboxed Bicycle</td>
        <td>$115</td>
      </tr>
      <tr>
        <td>Twin Mattress</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Extra Large Sizes (>4.0 ft<sup>3</sup> - 5.0 ft<sup>3</sup>)</td>
        <td>$70</td>
      </tr>
      <tr>
        <td>Extra Heavy Items (>70 lbs)</td>
        <td>+$35</td>
      </tr>
      <tr>
        <td>Home Pick-ups</td>
        <td>+$35</td>
      </tr>
    </tbody>
  </table>
</div>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>CHICAGO SHIP-TO-SCHOOL</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-block">
    <span>All prices are per item and cover the pickup, delivery, and basic insurance.
    <br>Prices are based on volume and may be subject to adjustment if an item is smaller or larger than standard.</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%">
    <thead>
      <tr>
        BOXES
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small (2.0 ft<sup>3</sup> or less)</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Medium (2.0 ft<sup>3</sup> - 3.5 ft<sup>3</sup>)</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Large (3.5 ft<sup>3</sup> - 4.5 ft<sup>3</sup>)</td>
        <td>$50</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%;">
    <thead>
      <tr>
        LUGGAGE
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small Suitcase/Duffel (2.5 ft<sup>3</sup> or less)</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Large Suitcase/Duffel (2.5 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Camp Duffel</td>
        <td>$90</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        TRUNKS
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small (3.0 ft<sup>3</sup> or less)</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Large (3.0 ft<sup>3</sup> - 4.0 ft<sup>3</sup>)</td>
        <td>$60</td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;">
    <thead>
      <tr>
        MISCELLANEOUS
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Boxed Bicycle</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Unboxed Bicycle</td>
        <td>$115</td>
      </tr>
      <tr>
        <td>Twin Mattress</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Extra Large Sizes (>4.0 ft<sup>3</sup> - 5.0 ft<sup>3</sup>)</td>
        <td>$70</td>
      </tr>
      <tr>
        <td>Extra Heavy Items (>70 lbs)</td>
        <td>+$35</td>
      </tr>
      <tr>
        <td>Home Pick-ups</td>
        <td>+$35</td>
      </tr>
    </tbody>
  </table>
</div>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>NATIONWIDE SHIP-TO-SCHOOL</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-block">
    <span>For students who live elsewhere, ship your bags and back-to-school purchases to us, and we'll deliver them straight to your dorm room, hassle-free. Due to mailroom restrictions, packages may begin to arrive no earlier than August 1st and items must arrive at UTrucking at least 4 days before your scheduled delivery time to ensure on-time delivery.</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
<table class="table table-sm" style="width:40%;margin:auto;">
  <tbody>
    <tr>
      <td>Any Package</td>
      <td>$35</td>
    </tr>
  </tbody>
</table>
</div>
<span style="display: inline-block; text-align: center; width: 100%; font-size: 3.7vw; color: grey;"><b>APPLIANCE RENTALS</b></span>
<div class="card card-outline-primary" style="margin:auto;width:90%;text-align:center;margin-bottom:2%;">
  <div class="card-block">
    <span>**Prices do not include the refundable deposit applied to the rental of each item. Deposit will be refunded if rental is returned after being defrosted, cleaned, and is able to be rented upon return.</span>
  </div>
</div>
<div class="row" style="border-width:2px;border-style:solid;width:93%;margin:auto;margin-bottom:2%;border-radius:10px;">
<table class="table table-sm" style="width:40%;margin:auto;margin-bottom:2%;margin-top:2%;">
  <tbody>
    <tr>
      <td>Large Refrigerator (4.0 ft<sup>3</sup>)</td>
      <td>$120</td>
    </tr>
    <tr>
      <td>Medium Refrigerator (2.7 ft<sup>3</sup>)</td>
      <td>$90</td>
    </tr>
    <tr>
      <td>Small Refrigerator (1.8 ft<sup>3</sup>)</td>
      <td>$60</td>
    </tr>
    <tr>
      <td>Microwave</td>
      <td>$50</td>
    </tr>
    <tr>
      <td>Desk Chair</td>
      <td>$80</td>
    </tr>
  </tbody>
</table>
</div>
