<div class="justify-content-center" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-toggler justify-content-center text-center" style="width:100%; border-color:transparent;" data-toggle="collapse" data-target="#dashboardSupportedContent">
        <a class="nav-link text-white" href="#">WORK</a>
        <a class="nav-link text-white" href="#">CONTACT US</a>
        <a class="nav-link text-white" routerLink='/terms'>TERMS & CONDITIONS</a>
        <a class="nav-link text-white" href="#">PACKING TIPS</a>
  </div>
  <div class="collapse navbar-collapse justify-content-center" id="dashboardSupportedContent">
    <div class="navbar-nav">
        <a class="nav-link text-white" href="#">WORK</a>
        <a class="nav-link text-white" href="#">CONTACT US</a>
        <a class="nav-link text-white" routerLink='/terms'>TERMS & CONDITIONS</a>
        <a class="nav-link text-white" href="#">PACKING TIPS</a>
    </div>
  </div>
</nav>
<div class="justify-content-center text-center bg-dark" style="width:100%;">
  <div style="color: #d3d3d3;">UNIVERSITY TRUCKING, SHEPLEY DRIVE (SOUTH 40)</div>
  <div style="color: #d3d3d3;">ST. LOUIS, MO, 63130, UNITED STATES</div>
  <div style="color: #d3d3d3;">(314) 266-8878 INFO@UTRUCKING.COM</div>
</div>
</div>
