<nav class="navbar sticky-top navbar-expand-lg navbar-light navbar-right" style="text-align:justify;background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="/assets/utrucking_logo.png" width="30" height="30" alt="">
    <span style="font-size: 15px"><b>University Trucking</b></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
        <a class="nav-link" routerLink="/home">HOME<span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/spring-services">OUR SERVICES</a>
        <a class="nav-link" routerLink="/faqs">FAQS</a>
        <a class="nav-link" routerLink="/prices">PRICING</a>
        <a class="nav-link" routerLink="/about">ABOUT US</a>
    <form class="form-inline">
      <a class="nav-link" routerLink='/register' class="btn btn-primary" style="border-radius: 20px;" >SIGN UP FALL 2017</a>
    </form>
    </div>
  </div>
</nav>
