<form class="justify-center">
<div *ngIf="this.showAll">
<h1>Where should we pick up your belongings from?</h1>
<div *ngIf = "this.livingLocationID === 1; else OnCampus2"></div>
<ng-template #OnCampus2>
  <p>
    I live on campus (or in Greenway)
  </p>
</ng-template>
<div class="dropdown" style="margin-bottom:2%;">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" placeholder="Building Name">{{ this.livingLocationName }}</button>
  <div class="dropdown-menu scrollable-menu" role="menu" style="overflow-y:scroll;height:300px;">
    <div *ngFor="let location of this.livingLocations">
      <button class="dropdown-item" (click)="setLivingLocation(location.living_location_id, location.name)">{{ location.name }}</button>
    </div>
  </div>
</div>
<div *ngIf = "this.livingLocationID === 1; then OffCampus else OnCampus"></div>
  <ng-template #OffCampus>
  <label for="user-email">Street Address & Apartment Number</label>
  <input type="text" class="form-control" name="home_address" [(ngModel)]="this.offCampusAddress.street"/>
  <small class="form-text text-muted">e.g. 22 Forsyth Blvd, Apt 3W</small>
</ng-template>
  <ng-template #OnCampus>
    <label for="user-email">Room Number</label>
    <input type="text" class="form-control" name="room_number" [(ngModel)]="this.room"/>
  </ng-template>
  </div>
  <div *ngIf="this.showShipping">
<h1>What is your shipping address?</h1>
<span>Note: You tell our employees which items, if any, get shipped and which get stored when they come to your door for pickup. Shipping and Storage is one service, regardless of if you're only shipping or only storing.</span>
<div class="dropdown" style="margin-bottom:2%;">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Home Address</button>
  <div class="dropdown-menu">
    <button class="dropdown-item" (click)="this.useHomeAddress()">Home Address</button>
    <button class="dropdown-item" (click)="this.addAddress()">New Address</button>
  </div>
</div>
<div *ngIf = "this.oldAddrBool">
  <p>
    {{ this.homeAddress.street }}
  </p>
</div>
<div *ngIf = "this.newAddrBool">
  <label for="user-email">Street</label>
  <input type="text" class="form-control" name="new_street" [(ngModel)]="this.newAddress.street"/>
  <small class="form-text text-muted">e.g. 22 Forsyth Blvd, Apt 3W</small>
  <label for="user-email">City</label>
  <input type="text" class="form-control" name="new_city" [(ngModel)]="this.newAddress.city"/>
  <label for="user-home-state">State<span style="color:red;">*</span></label>
  <select class="form-control" name="new_state" [(ngModel)]="this.newAddress.state">
    <option *ngFor="let state of states">{{ state.name }}</option>
  </select>
  <label for="user-home-country">Country<span style="color:red;">*</span></label>
  <select class="form-control" name="new_country" [(ngModel)]="this.newAddress.country" required>
    <option *ngFor="let country of countries">{{ country }}</option>
  </select>
  <label for="user-home-province">ZIP Code</label>
  <input class="form-control" name="user-home-zip" [(ngModel)]="this.newAddress.zip">
  <label for="user-home-province">Province</label>
  <input class="form-control" name="user-home-province" [(ngModel)]="this.newAddress.province">
</div>
</div>
<div id="agree_to_terms">
  <input type="checkbox" value="1"/><span>Please check to indicate that you agree to all parts of the <a routerLink="/terms">University Trucking Terms and Conditions</a>.</span>
</div>
<div *ngIf="this.service.name === 'Summer Storage & Shipping'">
  <p>
  When you sign up, <strong>a refundable deposit of ${{ this.service.deposit }}</strong> will be applied to your account. This amount will be subtracted off of your final invoice. Also, we'll ask for your new dorm room over the summer when you sign up for a delivery time, so you don't have to worry about that yet.
  </p>
</div>
  <button class="btn btn-primary" (click)="createService()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Order {{ this.service.name }}</button>
</form>
