<form class="justify-center">
<div *ngIf="this.showAll">
<h1>Where should we pick up your belongings from?</h1>
<div *ngIf = "this.livingLocationID === 1; else OnCampus2"></div>
<ng-template #OnCampus2>
  <p>
    I live on campus (or in Greenway)
  </p>
</ng-template>
<div class="dropdown" style="margin-bottom:2%;">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" placeholder="Building Name">{{ this.livingLocationName }}</button>
  <div class="dropdown-menu scrollable-menu" role="menu" style="overflow-y:scroll;height:300px;">
    <div *ngFor="let location of this.livingLocations">
      <button class="dropdown-item" (click)="setLivingLocation(location.living_location_id, location.name)">{{ location.name }}</button>
    </div>
  </div>
</div>
<div *ngIf = "this.livingLocationID === 1; then OffCampus else OnCampus"></div>
  <ng-template #OffCampus>
  <label for="user-email">Street Address & Apartment Number</label>
  <input type="text" class="form-control" name="home_address" [(ngModel)]="this.offCampusAddress.street"/>
  <small class="form-text text-muted">e.g. 22 Forsyth Blvd, Apt 3W</small>
</ng-template>
  <ng-template #OnCampus>
    <label for="user-email">Room Number</label>
    <input type="text" class="form-control" name="room_number" [(ngModel)]="this.room"/>
  </ng-template>
  </div>
  <div *ngIf="this.nationwideShipping; then Nationwide else NotNationwide"></div>
  <ng-template #NotNationwide>
<div *ngIf="this.showEastCoast">
<h1>Pickup or Shipping?</h1>
<div *ngIf="this.eastCoastLocations">
  Pickup Location:
  <div class="dropdown" style="margin-bottom:2%;">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Select a pickup location</button>
    <div class="dropdown-menu scrollable-menu">
      <div *ngFor="let location of this.eastCoastLocations">
        <button class="dropdown-item" (click)="setEastCoastLocation(location.east_coast_location_id, location.name)">{{ location.name }}</button>
      </div>
    </div>
  </div>
</div>
{{ this.eastCoastLocationName }}
<br>
<span>Note: If you are using East Coast Shipping, please select a location nearest you. If you wish to purchase a Home Pick-Up, please select the appropriate region.</span>
</div>
</ng-template>
<ng-template #Nationwide>
Ship to UTrucking: <input type="checkbox" name="ship-to-utrucking" [(ngModel)]="this.shipToUTrucking"><span>I would like to ship my items via USPS, UPS, or FedEx to UTrucking and have them delivered to my dorm room. Ship to:</span><br>
University Trucking<br>
6515 Wydown Blvd.<br>
Campus Box 20014<br>
St. Louis, MO 63105<br>
</ng-template>
<div id="agree_to_terms">
  <input type="checkbox" value="1"/><span>Please check to indicate that you agree to all parts of the <a routerLink="/terms">University Trucking Terms and Conditions</a>.</span>
</div>
  <p>
  When you sign up, <strong>a refundable deposit of ${{ this.service.deposit }}</strong> will be charged to your credit card when you order this service. Your deposit is refundable up to 2 weeks before your scheduled delivery date.
  </p>
  <button class="btn btn-primary" (click)="createService()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Order {{ this.service.name }}</button>
</form>
