<form class="justify-center">
<div *ngIf="this.showAll">
<h1>Where should we pick up your belongings from?</h1>
Special Note For Delivery Services: Chairs and safes will not be delivered until the week after move in.
<div *ngIf = "this.livingLocationID === 1; else OnCampus2"></div>
<ng-template #OnCampus2>
  <p>
    I live on campus (or in Greenway)
  </p>
</ng-template>
<div class="dropdown" style="margin-bottom:2%;">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" placeholder="Building Name">{{ this.livingLocationName }}</button>
  <div class="dropdown-menu scrollable-menu" role="menu" style="overflow-y:scroll;height:300px;">
    <div *ngFor="let location of this.livingLocations">
      <button class="dropdown-item" (click)="setLivingLocation(location.living_location_id, location.name)">{{ location.name }}</button>
    </div>
  </div>
</div>
<div *ngIf = "this.livingLocationID === 1; then OffCampus else OnCampus"></div>
  <ng-template #OffCampus>
  <label for="user-email">Street Address & Apartment Number</label>
  <input type="text" class="form-control" name="home_address" [(ngModel)]="this.offCampusAddress.street"/>
  <small class="form-text text-muted">e.g. 22 Forsyth Blvd, Apt 3W</small>
</ng-template>
  <ng-template #OnCampus>
    <label for="user-email">Room Number</label>
    <input type="text" class="form-control" name="room_number" [(ngModel)]="this.room"/>
  </ng-template>
  </div>

<div id="agree_to_terms">
  <input type="checkbox" value="1"/><span>Please check to indicate that you agree to all parts of the <a routerLink="/terms">University Trucking Terms and Conditions</a>.</span>
</div>
  <button class="btn btn-primary" (click)="createService()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Order {{ this.service.name }}</button>
</form>
