<div style="margin:auto;border-top:1px solid #428bca;width:80%">
<form>
  <div name="user-login">
    <div class="form-group">
      <label for="user-email">First Name<span style="color:red;">*</span></label>
      <input type="email" class="form-control" name="user-email" [(ngModel)]="this.account.first_name" required>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="user-password">Last Name<span style="color:red;">*</span></label>
        <input class="form-control" name="user-password" [(ngModel)]="this.account.last_name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="user-password-confirm">Credit Card Number<span style="color:red;">*</span></label>
        <input class="form-control" name="user-password-confirm" [(ngModel)]="this.account.cc_number" required/>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="form-group col-md-6">
      <label for="user-first">Expiration Date<span style="color:red;">*</span></label>
      <input class="form-control" name="user-first" [(ngModel)]="this.account.cc_expiration" required>
    </div>
    <div class="form-group col-md-6">
      <label for="user-last">CCV<span style="color:red;">*</span></label>
      <input class="form-control" name="user-last" [(ngModel)]="this.account.cc_code" required>
    </div>
  </div>
    <div class="form-group">
      <label for="user-parent-email">Credit Card Type<span style="color:red;">*</span></label>
      <input type="email" class="form-control" name="user-parent-email" [(ngModel)]="this.account.cc_type" required>
    </div>
    Billing Info
    <div class="dropdown" style="margin-bottom:2%;">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">What address would you like to you use?</button>
      <div class="dropdown-menu scrollable-menu">
          <button class="dropdown-item" (click)="setHomeAddress()">My Home Address</button>
          <button class="dropdown-item" (click)="setBillingAddress()">My Billing Address</button>
          <button class="dropdown-item" (click)="setNewAddress()">Add a New Address</button>
      </div>
    </div>
    <div *ngIf="this.finalAddress">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="user-home-phone">Street<span style="color:red;">*</span></label>
        <input class="form-control" name="user-home-phone" [(ngModel)]="this.finalAddress.street" placeholder="Format: (123) 456-7890" required>
      </div>
      <div class="form-group col-md-6">
        <label for="user-cell-phone">City<span style="color:red;">*</span></label>
        <input class="form-control" name="user-cell-phone" [(ngModel)]="this.finalAddress.city" placeholder="Format: (123) 456-7890" required>
      </div>
    </div>
      <div class="form-group col-md-4">
        <label for="user-home-state">State<span style="color:red;">*</span></label>
        <select class="form-control" name="user-home-state" [(ngModel)]="this.finalAddress.state">
          <option *ngFor="let state of states">{{ state.name }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="user-home-zip">ZIP/Postal Code<span style="color:red;">*</span></label>
        <input class="form-control" name="user-home-zip" [(ngModel)]="this.finalAddress.zip" required>
      </div>
    <div class="form-group">
      <label for="user-home-country">Country<span style="color:red;">*</span></label>
      <select class="form-control" name="user-home-country" [(ngModel)]="this.finalAddress.country" required>
        <option *ngFor="let country of countries">{{ country }}</option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" (click)="chargeCard()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Sign Up Now!</button>
</form>
</div>
