  New Password: <input type="text" class="form-control" name="password" [(ngModel)]="this.newPassword"/>
  Confirm New Password: <input type="text" class="form-control" name="confirm_password" [(ngModel)]="this.newPasswordConfirm"/>
  <button class="btn btn-primary" (click)="this.updatePassword()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Update</button>
