Current Pickup Location:
<div *ngIf="this.currentEastCoastLocation">
  {{ this.currentEastCoastLocation.name }}
</div>
<div *ngIf="this.eastCoastLocations">
<select class="form-control" name="shipping_state" [(ngModel)]="this.newEastCoastLocation">
  <option *ngFor="let location of eastCoastLocations" [ngValue]="location">{{ location.name }}</option>
</select>
You have selected:
<div *ngIf="this.newEastCoastLocation">
{{ this.newEastCoastLocation.name }}
</div>
<button class="btn btn-primary" (click)="changeEastCoastLocation()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Change my pickup location</button>
</div>
