<form>
  <div class="dropdown" style="margin-bottom:2%;">
    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Add a New Address</button>
    <div class="dropdown-menu scrollable-menu">
        <button class="dropdown-item" (click)="this.useHomeAddress()">Use Current Home Address</button>
        <button class="dropdown-item" (click)="this.addNewAddress()">Add a New Address</button>
    </div>
  </div>
  <div *ngIf="this.homeAddressBool; then ShowCurrent else ShowNew"></div>
  <ng-template #ShowCurrent>
    <div *ngIf="this.homeAddress">
      {{ this.homeAddress.street }}
    </div>
  </ng-template>
  <ng-template #ShowNew>
    <div *ngIf="this.shippingAddress">
    <label>Street</label>
    <input type="text" class="form-control" name="shipping_street" [(ngModel)]="this.shippingAddress.street"/>
    <small class="form-text text-muted">e.g. 22 Forsyth Blvd, Apt 3W</small>
    <label>City</label>
    <input type="text" class="form-control" name="shipping_city" [(ngModel)]="this.shippingAddress.city"/>
    <label>State<span style="color:red;">*</span></label>
    <select class="form-control" name="shipping_state" [(ngModel)]="this.shippingAddress.state">
      <option *ngFor="let state of states">{{ state.name }}</option>
    </select>
    <label for="user-home-country">Country<span style="color:red;">*</span></label>
    <select class="form-control" name="shipping_country" [(ngModel)]="this.shippingAddress.country" required>
      <option *ngFor="let country of countries">{{ country }}</option>
    </select>
    <label>ZIP Code</label>
    <input class="form-control" name="user-home-zip" [(ngModel)]="this.shippingAddress.zip">
    <label>Province</label>
    <input class="form-control" name="user-home-province" [(ngModel)]="this.shippingAddress.province">
  </div>
  </ng-template>
  <button class="btn btn-primary" (click)="this.editShippingAddress()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Change my Address</button>
</form>
