Current Location:<br>
<div *ngIf="this.onCampus; then OnCampus else OffCampus"></div>
<ng-template #OnCampus>
  <div *ngIf="this.onCampusAddr">
    <input type="text" class="form-control" name="room_number" [(ngModel)]="this.onCampusAddr.name"/>
    <input type="text" class="form-control" name="room_number" [(ngModel)]="this.onCampusAddr.room"/>
  </div>
</ng-template>
<ng-template #OffCampus>
  <div *ngIf="this.offCampusAddr">
    <label for="user-email">Street Address & Apartment Number</label>
    <input type="text" class="form-control" name="home_address" [(ngModel)]="this.offCampusAddr.street"/>
  </div>
</ng-template>
<span>Note: If you now live off campus, please select Off Campus on the list.</span>
    <div class="dropdown" style="margin-bottom:2%;">
      <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" placeholder="Building Name">{{ this.livingLocationName }}</button>
      <div class="dropdown-menu scrollable-menu" role="menu" style="overflow-y:scroll;height:300px;">
        <div *ngFor="let location of this.livingLocations">
          <button class="dropdown-item" (click)="setLivingLocation(location.living_location_id, location.name)">{{ location.name }}</button>
        </div>
      </div>
    </div>
    <div *ngIf="this.livingLocationID === 1; then ChangeToOffCampus else StayOnCampus"></div>
    <ng-template #ChangeToOffCampus>
        <label for="user-email">Street Address & Apartment Number</label>
        <input type="text" class="form-control" name="home_address" [(ngModel)]="this.newOffCampusAddr.street"/>
        <small class="form-text text-muted">e.g. 22 Forsyth Blvd, Apt 3W</small>
    </ng-template>
    <ng-template #StayOnCampus>
      <label for="user-email">Room Number</label>
      <input type="text" class="form-control" name="room_number" [(ngModel)]="this.onCampusAddr.room"/>
    </ng-template>
<button class="btn btn-primary" (click)="this.editLocalAddress()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Change your location</button>
