<form>
  <div *ngIf = "this.actionText">
    <span><b>Please choose a date & time for your items to be {{ this.actionText }} your dorm or apartment at WashU.</b></span>
  </div>
  <br>
  <span>If you're looking for information about when your items are being picked up on the east coast (only applicable to customers of our Ship to School service), please check the (link) East Coast Location Listing</span>
  <br>
    Current Schedule Time:
    <div *ngIf="this.noMasterScheduleBool; then noMasterSchedule else yesMasterSchedule"></div>
    <ng-template #noMasterSchedule>
      <span><b>Not Scheduled</b></span>
    </ng-template>
    <ng-template #yesMasterSchedule>
      <span><b>{{ this.startTime }} - {{ this.endTime }}</b></span>
    </ng-template><br>
    Available Schedule Times:
    <div *ngIf="this.specOptions; then ScheduledLoc else NotScheduledLoc"></div>
      <ng-template #ScheduledLoc>
      <div class="dropdown" style="margin-bottom:2%;">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" >Select a Schedule Time</button>
        <div class="dropdown-menu scrollable-menu" role="menu" style="overflow-y:scroll;height:300px;">
          <div *ngFor="let option of this.specOptions">
            <button class="dropdown-item" (click)="this.chooseTimeSlot(option)">{{ option.date }}, {{ option.start_time }} - {{ option.end_time }}
              <div *ngIf="(this.option.schedule_price - this.paidSchedulePrice) > 0">${{this.option.schedule_price - this.paidSchedulePrice}} premium day fee.</div>
              <div *ngIf="(this.option.schedule_price - this.paidSchedulePrice) < 0">receive ${{this.option.schedule_price - this.paidSchedulePrice}}</div>
            </button>
          </div>
        </div>
        <div *ngIf="this.myOption">
          You have chosen,<br>
          {{ this.myOption.date }}, {{ this.myOption.start_time }} - {{ this.myOption.end_time }}
          <div *ngIf="(this.myOption.schedule_price - this.paidSchedulePrice) > 0">${{this.myOption.schedule_price - this.paidSchedulePrice}} premium day fee.</div>
          <div *ngIf="(this.myOption.schedule_price - this.paidSchedulePrice) < 0">receive ${{this.myOption.schedule_price - this.paidSchedulePrice}}</div>
        </div>
      </div>
    </ng-template>
    <ng-template #NotScheduledLoc>
      <b>No schedule set for your location yet.</b>
    </ng-template>
    <button class="btn btn-primary" (click)="this.selectTimeSlot()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Select</button>
    <span>If you do not have your rooming assignment, you can't sign up for a delivery date. Once you enter your new room into our system (link) here, all available times will show up when you revisit this page. Thank you!</span><br><br>
      <span class="important"><b>WHY ARE THERE "PREMIUM DAY" FEES?</b></span><br>
        <br>
        Once a certain number of people sign up for a day, it is nearly impossible to get enough employees to keep everyone's pickups and deliveries on time. <br>
        To encourage, but not force, customers to sign up for other days, we put fees on days where our capacity is reached or, ultimately, exceeded.<br>
        On some days we have a much smaller capacity so fees for those days are much larger to discourage signups that we can't handle. <br>
        The earlier you sign up, the lower the number and cost of peak days!<br><br>

</form>
