<div *ngIf="this.student" style="margin:auto;border-top:1px solid #428bca;width:80%">
<form>
  <div>
    <span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>LOGIN CREDENTIALS</b></span>
  </div>
  <div name="user-login">
    <div class="form-group">
      <label for="user-email">Student Email<span style="color:red;">*</span></label>
      <input type="email" class="form-control" name="user-email" [(ngModel)]="this.student.student_email" required>
      <small id="emailHelpBlock" class="form-text text-muted">
        If possible, @wustl.edu email addresses are preferred
      </small>
    </div>
  </div>
  <div>
    <span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>MY INFORMATION</b></span>
  </div>
  <div name="user-information">
    <div class="row">
    <div class="form-group col-md-6">
      <label for="user-first">First Name<span style="color:red;">*</span></label>
      <input class="form-control" name="user-first" [(ngModel)]="this.student.first_name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="user-last">Last Name<span style="color:red;">*</span></label>
      <input class="form-control" name="user-last" [(ngModel)]="this.student.last_name" required>
    </div>
  </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="user-home-phone">Home Phone<span style="color:red;">*</span></label>
        <input class="form-control" name="user-home-phone" [(ngModel)]="this.student.home_phone" placeholder="Format: (123) 456-7890" required>
      </div>
      <div class="form-group col-md-6">
        <label for="user-cell-phone">Cell Phone<span style="color:red;">*</span></label>
        <input class="form-control" name="user-cell-phone" [(ngModel)]="this.student.cell_phone" placeholder="Format: (123) 456-7890" required>
      </div>
      <div class="form-group col-md-6">
        <label for="user-local-phone">Local Phone</label>
        <input class="form-control" name="user-cell-phone" [(ngModel)]="this.student.local_phone" placeholder="Format: (123) 456-7890">
      </div>
    </div>
    <div class="form-group">
      <label for="user-grad-year">Graduation Year<span style="color:red;">*</span></label>
      <input class="form-control" name="user-grad-year" [(ngModel)]="this.student.grad_year" placeholder="e.g. 2019" required>
    </div>
    <div class="form-group">
      <label for="user-student-group">Student Group<span style="color:red;">*</span></label>
    </div>
  </div>
  <div>
    <span style="display: inline-block; text-align: center; width: 100%; font-size: 4vw;"><b>HOME ADDRESS</b></span>
  </div>
  <div *ngIf="this.homeAddress">
  <div name="user-home-address">
    <div class="form-group">
      <label for="user-home-street">Street<span style="color:red;">*</span></label>
      <input class="form-control" name="user-home-street" [(ngModel)]="this.homeAddress.street" required>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="user-home-city">City<span style="color:red;">*</span></label>
        <input class="form-control" name="user-home-city" [(ngModel)]="this.homeAddress.city" required>
      </div>
      <div class="form-group col-md-4">
        <label for="user-home-state">State<span style="color:red;">*</span></label>
        <select class="form-control" name="user-home-state" [(ngModel)]="this.homeAddress.state">
          <option *ngFor="let state of states">{{ state.name }}</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="user-home-zip">ZIP/Postal Code<span style="color:red;">*</span></label>
        <input class="form-control" name="user-home-zip" [(ngModel)]="this.homeAddress.zip" required>
      </div>
    </div>
    <div class="form-group">
      <label for="user-home-country">Country<span style="color:red;">*</span></label>
      <select class="form-control" name="user-home-country" [(ngModel)]="this.homeAddress.country" required>
        <option *ngFor="let country of countries">{{ country }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="user-home-province">Province</label>
      <input class="form-control" name="user-home-province" [(ngModel)]="this.homeAddress.province" >
    </div>
  </div>
</div>

  <button class="btn btn-primary" (click)="updateInfo()" style="margin:auto;justify-content:center;text-align:center;margin-bottom:2%;">Update</button>
</form>
</div>
