<table>
<tr>
	<th>Date</th>
	<th>Amount</th>
	<th>Note</th>
	<th>Authorization Code</th>
	<th>Transaction Number</th>
</tr>
<div *ngIf="this.payments">
  <div *ngFor="let payment of this.payments">
    <tr>
      <td>{{ payment.date }}</td>
      <td>{{ payment.amount }}</td>
      <td>{{ payment.note }}</td>
      <td>{{ payment.auth_code }}</td>
      <td>{{ payment.transaction_num }}</td>
    </tr>
  </div>
</div>
</table>
