<div *ngIf="this.inDebt">
  <span>{{ this.student.first_name }} {{ this.student.last_name}}, You have a balance of ${{ this.student.balance }} for "{{ this.student.balance_text }}." Click here to pay it via credit card</span>
</div>
<div class="btn-group btn-group-toggle" style="margin:auto;justify-content:right;margin-top:3%;">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton>Order Services
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton>View Your Invoices
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton>Past Payments
  </label>
</div>
<br>
<div *ngIf="this.availableServices.length === 0; then noServices else showServices"></div>
  <ng-template #showServices>
  <h1>Order Services</h1>
  <div *ngIf="this.beforeStartTimeDate">
    <div *ngFor="let service of this.availableServices">
      <button (click)="this.addService(service.page, service.service_id)">{{ service.name }}</button>
    </div>
  </div>
</ng-template>
<ng-template #noServices>
  <span>No services are available now, so check back soon or email us for more information</span><br>
  <span>Signups for storage and shipping will be available mid-March, keep an eye on your WUSTL email account for more information.</span><br>
  <span>If you would like an email reminder when they become available, sign up for our parents email list. Thank you!</span>
</ng-template>
<div>
  <h1>My Services</h1>
  <div *ngFor="let service of this.orderedServices">
    {{ service.name }}
    <br>
  </div>
  <span><b>Scheduling and Addresses</b></span><br>
  <div *ngIf="this.noSchedule; then NeedSchedule else HaveSchedule"></div>
  <ng-template #NeedSchedule>
    <p>
    <a class="nav-link" routerLink='/edit_schedule' class="btn btn-primary">Choose the time you want us to come to your dorm room</a>
  </p>
  </ng-template>
  <ng-template #HaveSchedule>
    <span>We will be at your dorm room on:</span><br>
    <div *ngIf="this.masterSchedule">
      <span>{{ this.masterSchedule.date }}<br>{{ this.timeFromDB(this.masterSchedule.start_time) }} - {{ this.timeFromDB(this.masterSchedule.end_time) }}</span>
    </div>
    <div *ngIf="this.closeToSchedule; then TooCloseToSchedule else NotCloseEnoughToSchedule"></div>
    <ng-template #TooCloseToSchedule>
      <p>
        <span>Call 314-266-8878 to reschedule.</span>
      </p>
    </ng-template>
    <ng-template #NotCloseEnoughToSchedule>
      <p>
        <a class="nav-link" routerLink='/edit_schedule' class="btn btn-primary">Change your time</a>
      </p>
    </ng-template>
  </ng-template>
    <div *ngIf = "this.shippingAddress">
      <span><b>Shipping Address</b></span><br>
      <p>
        <span>{{ this.shippingAddress.street }}, {{ this.shippingAddress.city }} {{ this.shippingAddress.state }}, {{ this.shippingAddress.zip }}</span><br>
        <span>Province: {{ this.shippingAddress.province }}</span><br>
        <span>Country: {{ this.shippingAddress.country }}</span><br>
        <a class="nav-link" routerLink='/edit_shippingaddress' class="btn btn-primary">Change your location</a>
     </p>
   </div>
   <div *ngIf = "this.student.east_coast_location_id">
     <span><b>East Coast Location</b></span><br>
     <div *ngIf="this.eastCoastLocationName">
       <span>{{ this.eastCoastLocationName }}</span>
     </div>
     <a class="nav-link" routerLink='/edit_eastcoastlocation' class="btn btn-primary">Change your pickup location</a>
  </div>
   <div *ngIf = "this.student.ship_to_utrucking">
     <span><b>Ship to UTrucking</b></span><br>
     <span>You have chosen to ship to UTrucking</span>
  </div>
   <span><b>Local Address</b></span><br>
   <div *ngIf = "this.onCampus; then ShowOnCampus else ShowOffCampus"> </div>
   <ng-template #ShowOnCampus>
     <div *ngIf="this.onCampusAddr">
       <span>{{ this.onCampusAddr.name }}, Room {{ this.onCampusAddr.room }}</span><br>
       <a class="nav-link" routerLink='/edit_localaddress' class="btn btn-primary">Change your location</a>
    </div>
   </ng-template>
   <ng-template #ShowOffCampus>
     <div *ngIf="this.offCampusAddr">
      <span>{{ this.offCampusAddr.street }}, {{ this.offCampusAddr.city }} {{ this.offCampusAddr.state }}, {{ this.offCampusAddr.zip }}</span><br>
      <a class="nav-link" routerLink='/edit_localaddress' class="btn btn-primary">Change your location</a>
    </div>
   </ng-template>
</div>
<div>
  <h1>Account Options </h1>
  <a class="nav-link" routerLink='/edit_account' class="btn btn-primary">Edit account</a>
  <a class="nav-link" routerLink='/edit_password' class="btn btn-primary">Edit password</a>
  <a class="nav-link" routerLink='/list_payment' class="btn btn-primary">Payment History</a>
  <a class="nav-link" routerLink='/list_invoice' class="btn btn-primary">Past Invoices</a>
  <button (click)="logout()" class="btn btn-primary">Logout</button>
</div>
